<!-- deprecated. now included in modal in singlePatient.hbs -->
<form action="/clinic/{{patient.clinicianID}}/{{patient._id}}/?_method=PUT" method="post">
  <label>PATIENT NAME: </label>
  <input type="text" name="name" value="{{patient.name}}">

  <label>PRIMARY DIAGNOSIS: </label>
  <input type="text" name="primaryDiagnosis" value="{{patient.primaryDiagnosis}}">

  <label>DATE OF BIRTH: </label>
  <input type="date" name="dateOfBirth" value="{{patient.dateOfBirth}}">

  <input type="submit" name="UPDATE PATIENT INFORMATION">
</form>
