<!-- deprecated. now included in singleClinician.hbs -->
<div class="form-wrapper">
  <form action="/clinic/{{clinician._id}}?_method=PUT" method="post" class="col s12">
    <div class="row">
      <label for="c_name" class="white-text">CLINICIAN NAME: </label>
      <input type="text" id="c_name" name="name" value="{{clinician.name}}">
    </div>

    <div class="row">
      <label for="c_role" class="white-text">ROLE: </label>
      <input type="text" id="c_role" name="role" value="{{clinician.role}}">
    </div>

    <div class="row">
      <label for="c_date" class="white-text">START DATE: </label>
      <input type="text" class="datepicker" id="c_date" name="startDate" value="{{clinician.startDate}}">
    </div>

    <button class="waves-effect waves-light btn-large center-align" type="submit" name="action">
    UPDATE CLINICIAN INFORMATION
    </button>
  </form>

  <form action="/clinic/{{clinician._id}}?_method=DELETE" method="post" class="left-align">
    <button class="waves-effect waves-light btn-large button-text" type="submit" name="action">
    DELETE CLINICIAN
    </button>
  </form>
</div>
