<div class="row">
    {{#each allCandy}}
    <div class="col s3">
      <div class="card small hoverable">
        <div class="card-image" id="product-image">
          <img class="activator" src="/images/candy.png">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text text-darken-4">Product: {{prodName}}</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Product:<i class="material-icons right">close</i></span>
          <span class="flow-text">{{prodName}}</span>
          <span class="card-title grey-text text-darken-4">Cost:</span>
          <span class="flow-text">{{cost}}</span>
          <span class="card-title grey-text text-darken-4">Details:</span>
          <a id="details-button" class="details-button waves-effect waves-light btn" href="/cowbellcandy/{{id}}">Product Details</a>
        </div>
      </div>
    </div>
    {{/each}}
</div>

<div class="row" id="main-header">
  <div class="col s12 center-align">
    <a href="#new-product" class="waves-effect waves-light btn-large modal-trigger"><i class="material-icons right">assignment_ind</i>New Product</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="new-product" class="modal">
  <div class="modal-content">
    <div class="form-wrapper">
      <form action="/cowbellcandy" method="post" class="col s12">
        <div class="row">
          <label class="white-text">PRODUCT: </label>
          <input type="text" name="prodName" value="{{prodName}}">
        </div>

        <div class="row">
          <label class="white-text">
            <p>
             <input type="checkbox" name="handMach" value=checked checked="{{handMach}}">
             <span>HAND MADE?:</span>
            </p>
          </label>
        </div>

        <div class="row">
          <p>
            <label class="white-text">
              <input type="checkbox" name="natArt" value="{{natArt}}">
              <span>NATURAL INGREDIENTS?</span>
             </label>
          </p>
        </div>

        <div class="row">
          <label class="white-text">DESCRIPTION: </label>
          <input type="text" name="description" value="{{description}}">
        </div>

        <div class="row">
          <label class="white-text">COUNTRY OF ORIGIN: </label>
          <input type="text" name="countryOrig" value="{{countryOrig}}">
        </div>

        <div class="row">
          <label class="white-text">
            <input type="checkbox" name="stockOrder" value="{{stockOrder}}">
            <span>IN STOCK?: </span>
          </label>
        </div>

        <div class="row">
          <label class="white-text">
            <input type="checkbox" name="coldNormal" value="{{coldNormal}}">
            <span>COLD SHIPPING?:</span>
          </label>
        </div>

        <div class="row">
          <label class="white-text">SHELF-LIFE(weeks): </label>
          <input type="number" name="shelfLife" value="{{shelfLife}}">
        </div>

        <div class="row">
          <label class="white-text">MANUFACTURER: </label>
          <input type="text" name="manComp" value="{{manComp}}">
        </div>

        <div class="row">
          <label class="white-text">COST: </label>
          <input type="number" name="cost" value="{{cost}}">
        </div>

        <div class="row">
          <label class="white-text">WEIGHT: </label>
          <input type="number" name="weight" value="{{weight}}">
        </div>

        <div class="row">
          <label class="white-text">MINIMUM ORDER: </label>
          <input type="number" name="minOrder" value="{{minOrder}}">
        </div>

        <button class="modal-close waves-effect waves-light btn-large" type="submit" name="action">
        ADD NEW PRODUCT</button>
      </form>
    </div>
  </div>
</div>
