<div class="row white-text">
      <div class="col s4">
        <div class="card teal lighten-1 col s12">
          <div class="card-image">
            <img class="activator" src="/images/candy.png">
          </div>
          <div class="card-content">
            <span class="card-title white-text text-darken-4">Candy Name:</span>
            <!-- ::::TODO::::: RENAME SCHEMA REFERENCES WHEN ALEX FINISHES -->
            <span class="flow-text">{{candy.prodName}}</span>
            <span class="card-title white-text text-darken-4">Cost:</span>
            <!-- ::::TODO::::: RENAME SCHEMA REFERENCES WHEN ALEX FINISHES -->

            <span class="flow-text">{{candy.cost}}</span>
            <!-- <p id="edit-clinician-wrapper" class="center-align">
              <a href="#edit-clinician" class="waves-effect waves-light btn-large modal-trigger">Edit Clinician</a>
            </p>
            <p class="center-align return-button">
              <a  class="waves-effect waves-light btn-large" href="/clinic/">ALL CLINICIANS</a>
            </p> -->
          </div>
        </div>
      </div>

      <div class="col s8 left-align">
        <!-- <a href="#new-patient" class="waves-effect waves-light btn-large modal-trigger"><i class="material-icons right">assignment_ind</i>NEW PATIENT</a> -->
        <ul>
          <li>Handmade: {{candy.handMach}} </li>
          <li>All Natural: {{candy.natArt}}</li>
          <li>Description: {{candy.description}}</li>
          <li>Country of Origin: {{candy.countryOrig}}</li>
          <li>IN-STOCK: {{candy.stockOrder}}</li>
          <li>COLD?: {{candy.coldNormal}}</li>
          <li>Shelf life in weeks: {{candy.shelfLife}}</li>
          <li>Manufacturing Company: {{candy.manComp}}</li>
          <li>COSTS?: {{candy.cost}}</li>
          <li>WEIGHT: {{candy.weight}}</li>
          <li>MIN ORDER: {{candy.minOrder}}</li>
      </ul>
          <!-- <tbody>
            {{#each retrievedPatients}}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <!-- <td><a class="waves-effect waves-light btn" href="/clinic/{{clinicianID}}/{{_id}}">PATIENT DATA</a></td> -->
            <!-- </tr>
            {{/each}}
          </tbody>
        </table> -->
      </div>
</div>


<div>
  <form action="/cowbellcandy/addtocart" method="POST" class="PLACEHOLDER">
    <div class="row">
      <label class="white-text">Quantity </label>
      <input type="number" name="quantity" value="{{quantity}}">
      <input hidden="true" type="text" name="prodName" value="{{candy.prodName}}">
      <input hidden="true" type="number" name="cost" value="{{candy.cost}}">
    </div>
      <button class="modal-close waves-effect waves-light btn-large" type="submit" name="action">
      Add To Cart</button>
  </form>

</div>

<!-- Modal Structure -->
<!-- <div id="edit-clinician" class="modal">
  <div class="modal-content">
    <div class="form-wrapper">
      <form action="/clinic/{{clinician._id}}?_method=PUT" method="post" class="col s12">
        <div class="row">
          <label for="c_name" class="white-text">CLINICIAN NAME: </label>
          <input type="text" id="c_name" name="name" value="{{clinician.name}}">
        </div>

        <div class="row">
          <label for="c_role" class="white-text">ROLE: </label>
          <input type="text" id="c_role" name="role" value="{{clinician.role}}">
        </div>

        <div class="row">
          <label for="c_date" class="white-text">START DATE: </label>
          <input type="text" class="datepicker" id="c_date" name="startDate" value="{{clinician.startDate}}">
        </div>

        <button class="waves-effect waves-light btn-large center-align" type="submit" name="action">
        UPDATE CLINICIAN INFORMATION
        </button>

        <!-- deletes clinician in form by redefining form action and method -->
        <!-- <button class="waves-effect waves-light btn-large button-text" type="submit" name="action" formmethod="post" formaction="/clinic/{{clinician._id}}?_method=DELETE">
        DELETE CLINICIAN
        </button>
      </form>
    </div>
  </div>
</div> -->
